@font-face {
    font-family: Nunito Sans;
    src: url(/src/fons/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf), format("ttf");
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #F0F5FB;
}

a{
    text-decoration: none;
}

input, textarea{
    border: none;
    outline: none;
}

img{
    display: block;
}

textarea{
    resize: none;
}

button{
    border: none;
}

section{
    margin-bottom: 80px;
}

:root{
    --main-color-text: #303239;
    --main-color-btn: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
}

.container {
    margin: 0px 370px;
}

.section-title{
    color: #18154B;
    font-family: Nunito Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.btn-dark{
    border-radius: 50px;
    cursor: pointer;
    color: #FFFFFF;
    background: var(--main-color-btn);
    text-align: center;
    transition: all .3s
}

.btn-dark:hover{
    box-shadow: 0px 4px 20px 0px rgba(26, 11, 115, 0.40);
    transition: all .3s;
}

.btn-ligth{
    border-radius: 50px;
    cursor: pointer;
    color: #18154B;
    background: #FFFFFF;
    text-align: center;
    transition: all .3s
}

.btn-ligth:hover{
    box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.40);
    transition: all .3s
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-mobile{
    display: none;
}

.header-top {
    background-color: #1A0B73;
    padding: 10px 0px;
}

.header-top__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    align-items: start;
    gap: 18px;
}

.social-icons__icon:hover{
    cursor: pointer;
}

.header-contact{
    display: flex;
    gap: 44px;
}

.header-bottom {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    padding: 15px 0px;
    transition: all 0.3s;
}

.header-bottom__active{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: all 0.3s;
    z-index: 999;
}

.header-bottom__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn{
    color: #FFFFFF;
    padding: 11px 27px;
    margin: 0px 80px 0px 47px;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.header-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F0F5FB;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo{
    margin-right: 30px;
    cursor: pointer;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-nav__item {
    color: var( --main-color-text);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .3s;
}

.header-nav__item:hover{
    color: rgba(48, 50, 57, 0.70);
    cursor: pointer;
    transition: all .3s;
}

.header-bottom__bins{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-bottom__bin{
    position: relative;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background: #F0F5FB;
    padding: 10px;
    cursor: pointer;
}

.product-counter{
    position: absolute;
    bottom:30px;
    right:0px;
    background: #1A0B73;
    padding: 3px 5px 3px 6px;
    border-radius: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main {
    margin: 40px 0px 80px 0px;
    min-height: 100vh
}

.banners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.slider {
    display: flex;
    justify-content: space-between;
    background: url("../img/image/slider-bg.jpg") no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    max-width: 780px;
    width: 100%;
    height: 440px;
    padding: 80px 31px 39px 57px;
}

.slider-left {
    display: flex;
    flex-direction: column;
}

.slider-title{
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    max-width: 341px;
}

.slider-desc {
    margin-top: 20px;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.slider-btn{
    padding: 15px 31px 15px 32px;
    width: 200px;
    margin-top: 30px;
}

.slider-right {
    display: flex;
    align-items: end;
}

.slider-img{
    margin-right: 13px;
}

.pagination {
    display: flex;
    align-items: end;
    gap: 10px;
}

.pagination-item {
    cursor: pointer;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: rgba(56, 176, 193, 0.40);
}

.pagination-item__active {
    background: #38B0C1;
}

.banner-profitable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/image/banner-bg.jpg") no-repeat;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    padding: 40px 30px 30px 40px;
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
    height: 440px;
}

.banner-top{
    display: flex;
    flex-direction: column;
}

.banner-title {
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    width: 231px;
    margin-bottom: 10px;
}

.banner-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner-procent {
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.banner-desc {
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    width: 138px;
}

.to-catalog__btn {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.to-catalog__title {
    color: #18154B;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-btn{
    display: flex;
    justify-content: end;
}

.banner-btn__title {
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
}

.products-content {
    display: flex;
    flex-direction: column;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.products-item {
    display: flex;
    gap: 20px;
    padding: 20px 32px 20px 35px;
    background: url("../img/image/category-bg.jpg") no-repeat;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
}

.product-rigth {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.products-name {
    color: #303239;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    width: 153px;
}

.advantages {
    display: flex;
    justify-content: space-between;
    background: url("../img/image/advantages.png") no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    width: 100%;
    padding: 50px 85px 56px 60px;
}

.advantages-title {
    width: 341px;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.advantages-icon__bg{
    padding: 15px;
    background: rgba(52, 110, 164, 0.20);
    border-radius: 50px;
    filter: drop-shadow(0px 4px 40px rgba(0, 6, 84, 0.90));
    width: 60px;
    height: 60px;
}

.advantages-item__img {
    width: 30px;
    height: 30px;
}

.advantages-item__desc {
    display: flex;
    align-items: start;
    color: #FFFFFF;
    width: 147px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hits{
    display: flex;
    flex-direction: column;
}

.hit-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hit-card {
    max-width: 220px;
    width: 100%;
    padding: 15px 16px 30px 15px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
}

.hit-card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite {
    cursor: pointer;
}

.hit-card__info {
    display: flex;
    flex-direction: column;
}

.hit-name {
    color: #303239;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
}
.hit-state {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.state-img {
    width: 6px;
    height: 6px;
}

.state-name {
    color: #9B9B9B;
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}

.hit-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hit-hit-discount {
    color: #9B9B9B;
    font-family: Nunito Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.to-cart {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 9px;
    border-radius: 30px;
    background:#F0F5FB;
    cursor: pointer;
}

.hit-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-btn {
    padding: 13px 35px 12px 36px;
    margin-top: 10px;
}

.form-block {
    background: url("../img/image/form-bg.jpg") no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    padding: 50px 0px 50px 60px;
}

.form-titles{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-title {
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.form-desc {
    margin-top: 10px;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 25px;
}

.form-top{
    display: flex;
    gap: 20px;
}

.form-input {
    width: 240px;
    padding: 16px 0px 15px 20px;
    border-radius: 50px;
    border: 1px solid rgba(243, 243, 243, 0.70);
    background: rgba(255, 255, 255, 0.30);
    color: #F3F3F3;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.form-input::placeholder{
    color: #F3F3F3;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.form-submit {
    color: #18154B;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 81px 15px 80px;
}

.form-checkbox__block {
    display: flex;
    gap: 10px;
}

.form-checkbox {
    display: none;
}

.form-checkbox__desc {
    color: #F3F3F3;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-checkbox__link{
    text-decoration-line: underline;
    color: #F3F3F3;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts-left {
    display: flex;
    flex-direction: column;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 267px;
    margin-bottom: 40px;
}

.contact-item {
    display: flex;
    gap: 10px;
}

.contact-item__icon {
    max-width: 16px;
}

.contact-item__desc {
    color: #303239;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.map {
    max-width: 680px;
    max-height: 365px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
}

.footer {
    background-color: #1A0B73;
    padding: 70px 0px 60px 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-company-name {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.footer-copyright {
    color: #B8B8B8;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-nav{
    display: flex;
    align-items: center;
    gap: 171px;
}

.footer-nav__block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav__title {
    color: #B8B8B8;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.footer-nav__item {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-btn {
    padding: 15px 39px;
    font-size: 15px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-link {
    color: #B8B8B8;
    text-align: right;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 320px) {
    .container {
        padding: 0px 10px;
    }
}